<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{URL}}/resources/css/default/404.css">
    <title>404 - Página não encontrada</title>
</head>
<body>
    <section class="not_found">
        <div class="text_code">
            <h1>Erro 404 :( </h1>
        </div>
        <div class="text_msg">
            <h2>Página não encontrada</h2>
            <p>A URL que você acessou, não corresponde a nenhuma de nossas páginas...</p>
            <a href="{{URL}}">Voltar</a>
        </div>
    </section>
</body>
</html>