<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{URL}}/resources/css/default/welcome.css">
    <title>Bem-vindo(a)</title>
</head>
<body>
    <section class="page_welcome">
        <div class="area_top">
            <h1>Bem-vindo(a)</h1>
        </div>
        <div class="description">
            <h2>Página de boas vindas</h2>
        </div>
    </section>
</body>
</html>